---
import CardLaunch from "./CardLaunch.astro";
import { getLatestLaunches } from "../services/spacex";

const launches = await getLatestLaunches();
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    launches.map((item) => (
      <CardLaunch
        id={item.id}
        img={item.links.patch.small}
        details={item.details}
        flightNumber={item.flight_number}
        success={item.success}
      />
    ))
  }
</div>
